@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap');

body{
    font-family: 'Jost', sans-serif;
}

nav{
    z-index: 10001 !important;
}

.gradientBg{
    background: linear-gradient(99deg, #f173e5 0%, #078fe9 100%);
}

.btnPrimary{
    @apply py-2 px-8 bg-secondary font-semibold text-white rounded 
    hover:bg-primary transition-all duration-300;
}


