

.cards{
    border:none
}

.simage{
    position:relative
}

.simage .sspn{
    background-color:blue;
    color:#fff;
    padding:6px;
    height:30px;
    width:30px;
    border-radius:50%;
    font-size:13px;
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    top:-0px;right:0px
}
    
    .user-details h4{
        color:blue
    }
    .ratings{
        font-size:30px;
        font-weight:600;
        display:flex;
        justify-content:left;
        align-items:center;
        color:#f9b43a
    }
        
    .user-details .sspn{
        text-align:left
    }
        
    .inputs label{
        display:flex;
        margin-left:3px;
        font-weight:500;
        font-size:13px;
        margin-bottom:4px
    }
            
    .inputs input{
        font-size:14px;
        height:40px;
        border:2px solid #ced4da
    }
                
    .inputs input:focus{
        box-shadow:none;
        border:2px solid blue
    }
                    
    .about-inputs label{
        
        display:flex;
         margin-left:3px;
        font-weight:500;
        font-size:13px;
         margin-bottom:4px
        }
                        
     .about-inputs textarea{
        font-size:14px;
        height:100px;
        border:2px solid #ced4da;
        resize:none
    }
                            
     .about-inputs textarea:focus{box-shadow:none}
                            
     .btn{font-weight:600}
                            
    .btn:focus{box-shadow:none}